.carrinhos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden;

}

.carrinho {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity: 0;
    visibility: hidden; 
}

.carrinho h2 {
    text-align: center;
    font-size: 2rem;
}

.carrinho.show {
    visibility: visible;
}

.carrinho.show {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}

.carrinho_close svg {
    display: inline-block;
    color: #6EB4CB;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;

}

.carrinho_close svg:hover {
    fill: #FE90A5;

}

.carrinho_center{
    width: 90%;
    margin: 0 auto;
}

.carrinho_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #6EB4CB;
    border-radius: 5px;

}
.carrinho_item img {
    width: 5rem;
}

.carrinho_item h3{
   margin-top: 1.5rem;
   font-weight: 600;
   font-size: 1.5rem; 
}

.carrinho_item .price {
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: -1rem;
}

.carrinho_item svg{
    fill: #6EB4CB;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}

.carrinho_item .quantidade{
    font-size: 2rem;
    font-weight: bold;
}

.carrinho_item .remover_item svg{
    width: 60px;
    height: 80px;
    fill: #FE90A5;
    margin-top: 2rem;
}

.carrinho_footer {
   text-align: center;
   margin-bottom: 3rem; 
}

.carrinho_footer h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;

}

.carrinho_footer .btn {
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color:  #6EB4CB ;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}

.carrinho_footer .btn:hover{
    background-color:  #FE90A5;
    color: white;
}

